<%= button_to "Log Out", destroy_user_session_path, method: :delete %>
<h2>Welcome, <%= current_user.first_name%></h2>
<br>
<br>
<br>
<p> Checkout your list below</p>
<%= link_to "To-Do List", todos_path, class:"btn btn-primary" %>
